 
  
  <!--Main content area-->
  <main id="main-content" class="rvt-layout__wrapper">
    

  <h1>Study Room Confirmation</h1>
  
  <p>
    Your study room reservation at the IUK library was successful.<br>
    An email with your confirmation number has been sent.<br>
    <div class="row">
    
        <div class="col-md-12">
            <table style="width: 25%;">
                <thead>
                   <h2>Reservation Information:</h2>
                   <br>
                <tr>
                    <th>Confirmation&nbsp;Number</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Room&nbsp;Number</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{lastReservation.confirmation}}</td>
                        <td>{{lastReservation.date}}</td>
                        <td>{{lastReservation.time}}</td>
                        <td>{{lastReservation.studyrooms}}</td>                        
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        {{#unless reservations}}
        <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
        </div>
        {{/unless}}
    </div>

    <img src="/images/Icons8_flat_approval.png"  alt ="Confirmation Symbol"> 
</p>
<div>
    <a href = "/"><button class="rvt-button">Return to Home </button></a>
</div>
  </main>
  